* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  position: fixed;

}

.mobile {
  touch-action: manipulation;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.dialogIsOpen #pano {

  /* Blur and de-color */
  -webkit-filter: blur(3px) grayscale(70%) brightness(40%);
  filter: blur(3px) grayscale(70%) brightness(40%);

  transition: .5s filter ease; /* prefix me */
  transition: .5s -webkit-filter ease;
  -moz-transition: .5s -moz-filter ease;
  -ms-transition: .5s -ms-filter ease;
  -o-transition: .5s -o-filter ease;
  pointer-events: none;
}

.dialogIsOpen .info-hotspot, .dialogIsOpen .modal-hotspot, .dialogIsOpen .link-hotspot{
  pointer-events: none;

}

#hint {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin-top: 30%;
  background-color: #555;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#hint .fas {
  margin-top:50px;
  display: block;
}

#page-wrap {

  transition: .5s filter ease; /* prefix me */
  transition: .5s -webkit-filter ease;
  -moz-transition: .5s -moz-filter ease;
  -ms-transition: .5s -ms-filter ease;
  -o-transition: .5s -o-filter ease;

}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  height: 40px;
  text-align: center;
}

.fa-info {
  position: absolute;
  left: 20px;
  top: 8px;
}

.mobile #titleBar {
  height: 50px;
  right: 50px;
}

/* If there is a fullscreen button the title bar must make space for it */
body.fullscreen-enabled #titleBar {
  right: 80px;
}

body.fullscreen-enabled.mobile #titleBar {
  right: 100px;
}

/* If there are multiple scenes the title bar must make space for the scene list toggle */
body.multiple-scenes #titleBar {
  left: 40px;
}

body.multiple-scenes.mobile #titleBar {
  left: 50px;
}

#titleBar .sceneName {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 5px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.mobile #titleBar .sceneName {
  line-height: 40px;
}

#fullscreenToggle {
  display:none;
  position: absolute;
  top: 0;
  right: 40px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

.mobile #fullscreenToggle {
  width: 50px;
  height: 50px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}

#fullscreenToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #fullscreenToggle .icon {
  top: 10px;
  right: 10px;
}

#fullscreenToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off {
  display: none;
}

#autorotateToggle {
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

.mobile #autorotateToggle {
  width: 50px;
  height: 50px;
  right: 0;
}

/* If there is a fullscreen button, autorotate must placed a bit to the left */
body.fullscreen-enabled #autorotateToggle {
  right: 40px;
}

body.fullscreen-enabled.mobile #autorotateToggle {
  right: 50px;
}

#autorotateToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #autorotateToggle .icon {
  top: 10px;
  right: 10px;
}

#autorotateToggle .icon.on {
  display: none;
}

#autorotateToggle .icon.off {
  display: block;
}

#autorotateToggle.enabled .icon.on {
  display: block;
}

#autorotateToggle.enabled .icon.off {
  display: none;
}

#sceneListToggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

.mobile #sceneListToggle {
  width: 50px;
  height: 50px;
}

#sceneListToggle .text {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100%;
  line-height: 30px;
}

#sceneListToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #sceneListToggle .icon {
  top: 10px;
  right: 10px;
}

#sceneListToggle .icon.on {
  display: none;
}

#sceneListToggle .icon.off {
  display: block;
}

#sceneListToggle.enabled .icon.on {
  display: block;
}

#sceneListToggle.enabled .icon.off {
  display: none;
}

#sceneList {
  position: absolute;
  top: 0;
  left: -220px;
  padding-top: 40px;
  width: 220px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.mobile #sceneList {
  padding-top: 50px;
}

#sceneList .scenes {
  width: 100%;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
}

.mobile #sceneList {
  width: 100%;
  height: 100%;
  left: -100%;
}

.mobile #sceneList.enabled {
  margin-left: 100%;
}

.mobile #sceneList .scenes {
  height: 100%;
}

#sceneList.enabled {
  margin-left: 220px;
}

#sceneList .scene {
  display: block;
  width: 100%;
  height: 30px;
}

.mobile #sceneList .scene {
  height: 40px;
}

#sceneList .scene .text {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile #sceneList .scene .text {
  line-height: 40px;
}

.no-touch #sceneList .scene:hover {
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

#sceneList .scene.current {
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

/* Hide scene list when only a single scene exists */
body.single-scene #sceneList, body.single-scene #sceneListToggle {
  display: none;
}

/* Link hotspot */

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */

  margin-left: 3px;

  font-size: 16px;

  width: 300px;

  padding: 8px 10px;

  border-radius: 5px;

  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);

  color: #fff;

  white-space: pre-wrap;
  text-overflow: clip;
  overflow: auto;

  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px; /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot, modal hotspot */

.info-hotspot, .modal-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover, .no-touch .modal-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible, .modal-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header, .modal-hotspot .info-hotspot-header {
  width: 51px;
  height: 51px;
  border-radius: 25px;
  background-color: rgb(222, 91, 50);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s,
                      border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s,
              border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header, .mobile .modal-hotspot .info-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.desktop .info-hotspot.info-text.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.info-text.visible .info-hotspot-header:hover
{
  width: 260px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper,
.modal-hotspot .info-hotspot-icon-wrapper
{
  width: 50px;
  height: 50px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper,
.mobile .modal-hotspot .info-hotspot-icon-wrapper
{
  width: 50px;
  height: 50px;
}

.info-hotspot .info-hotspot-icon
{
  width: 90%;
  height: 90%;
  margin: 5%;
}

.modal-hotspot-icon {
    width: 60%;
    height: 60%;
    margin: 18%;
}

.info-hotspot .info-hotspot-title-wrapper
{
  position: absolute;
  left: 50px;
  top: 0;
  width: 0;
  height: 50px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.desktop .info-hotspot.info-text.visible .info-hotspot-title-wrapper,
.desktop.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper
{
  width: 200px;
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before

{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title

{
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper,
.modal-hotspot .info-hotspot-close-wrapper
{
  position: absolute;
  left: 260px;
  top: 0;
  height: 50px;
  width: 50px;
  border-top-right-radius: 5px;
  background-color: rgb(78,88,104);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0.6s;
}

.desktop .info-hotspot.info-text.visible .info-hotspot-close-wrapper,
.desktop .modal-hotspot.info-text.visible .info-hotspot-close-wrapper
{
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0s;
}

.info-hotspot .info-hotspot-close-icon,
.modal-hotspot .info-hotspot-close-icon
{
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-text

{
  position: absolute;
  width: 310px;
  height: auto;
/*   max-height: 200px; */
  top: 50px;
  left: 0;
  padding: 0px;
  background-color: rgb(58,68,84);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-text p,
.modal-hotspot .info-hotspot-text p
{
  padding: 10px 20px;
}


.modal-hotspot .info-hotspot-image
{
  position: relative;

  height: auto;

  padding: 0px 0px 10px;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.desktop .info-hotspot.info-text.visible .info-hotspot-text, .desktop .info-hotspot.info-text.visible .info-hotspot-image

{
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0s;
}

/* modal hotspot modal */

.mobile .modal-hotspot-modal {
  display: none;
}

.modal-hotspot-modal {
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 70%;
  max-width: 600px;
  height: 80%;

  overflow: hidden;
  z-index: 11000 !important;
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.1s ease-in,
                      visibility 0s 0.1s;
  transition: opacity 0.1s ease-in,
              visibility 0s 0.7s;
}

.modal-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.1s ease-in,
                      visibility 0s 0s;
  transition: opacity 0.1s ease-in,
              visibility 0s 0s;
}

.modal-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: 50px;
  background-color: rgb(222, 91, 50);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.modal-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in ;
}

.modal-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.modal-hotspot-modal .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.modal-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.modal-hotspot-modal .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.modal-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(78,88,104);
  cursor: pointer;
}

.modal-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.modal-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
  background-color: rgb(58,68,84);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.modal-hotspot-modal .info-hotspot-text p{
padding-bottom: 20px;

}

.modal-hotspot-modal .info-hotspot-image {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.modal-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-in ;
  transition: opacity 0.1s ease-in ;
}





/* Info hotspot modal */

.desktop .info-hotspot-modal:not(.welcome) {
  display: none;
}

.info-hotspot-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0,0,0,.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s,
                      visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s,
              visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out,
                      visibility 0s 0s;
  transition: opacity 0.2s ease-in-out,
              visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  width: auto;
  height: 50px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot-modal .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(78,88,104);
  /* background-color: rgba(78,88,104,0.8); */
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 110px;
  text-align: left;
  left: 10px;
  right: 10px;
  padding: 20px;
  background-color: rgb(58,68,84);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-text h1 {
  text-align: center;

}

.info-hotspot-modal .info-hotspot-text p {
  padding: 10px 0;

}

#objectives, #credits, #welcomeDescription {
  padding: 10px 0;
}

#welcome-modal ul {
  padding: 20px 0 0 0;
  list-style-position: inside;
}

#objectives li {
  list-style-type: circle;
  padding: 0 0 10px 10px;
}

#credits li {
  padding: 0 0 5px 0;
}


.info-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}



/* View control buttons */

.viewControlButton {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

body.view-control-buttons .viewControlButton {
  display: block;
}

/* Hide controls when width is too small */
@media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    display: none;
  }
}

.viewControlButton .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

/* Center is at margin-left: -20px */
.viewControlButton-1 {
  margin-left: -145px;
}
.viewControlButton-2 {
  margin-left: -95px;
}
.viewControlButton-3 {
  margin-left: -45px;
}
.viewControlButton-4 {
  margin-left: 5px;
}
.viewControlButton-5 {
  margin-left: 55px;
}
.viewControlButton-6 {
  margin-left: 105px;
}

.desktop .welcome{
  /* width: 100%; */
  margin: auto;
}

 #welcome-modal {

  margin: auto;
  position: absolute;;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 700px;
  max-width: 100%;
  text-align: center;

}


#welcome-modal.visible {
  visibility: visible;
}

.welcome .info-hotspot-header {
  background-color: rgb(222, 91, 50);
}

#welcome-modal H1 {
  font-size: 2rem;
  padding-bottom: 20px;

  line-height: 100%;
}

.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
}

.pulsating-circle:before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 5;
          animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 5;
}

.pulsating-circle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
/*   background-color: white; */
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s 5;
          animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s 5;
}

@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.arrowAnim {
/*   width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.right{
  transform: rotate(-180deg);
}

.down {
  transform: rotate(-90deg);
}

.up {
  transform: rotate(-270deg);
}

.mobile .arrow{
  border-width: 8px;
}

.arrow {

  border: 1.5vw solid;
  border-color: orange transparent transparent orange;
  transform: rotate(-45deg);

}


.arrowSliding-left {
  position: absolute;
  -webkit-animation: slide-left 2s linear infinite;
          animation: slide-left 2s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay2 {
  -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay3 {
  -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

@-webkit-keyframes slide-left {
    0% { opacity:0; transform: translateX(9vw); }
   20% { opacity:1; transform: translateX(6vw); }
   80% { opacity:1; transform: translateX(-6vw); }
  100% { opacity:0; transform: translateX(-9vw); }
}
@keyframes slide-left {
    0% { opacity:0; transform: translateX(9vw); }
   20% { opacity:1; transform: translateX(6vw); }
   80% { opacity:1; transform: translateX(-6vw); }
  100% { opacity:0; transform: translateX(-9vw); }
}

#map {
  position:absolute;
  left: -220px;
  bottom: 56px;
  visibility: visible;
  width: 220px;
  height: 220px;
  background-color: #333;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  margin-left: 0;
  /* -webkit-transition: margin-left 0.5s ease-in-out; */

  transition: margin-left 0.5s 0s, bottom 0s 0.5s, transform 0s 0.5s, background-color 0s 0.5s;
  transition-timing-function: ease-in-out;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;

}

.desktop #map.enabled {
  transition: margin-left 0.5s;
}

.mobile #map.enabled{
  background-color: transparent;
  transition: margin-left 0.5s ease-in-out;

}
#map.enabled {
  margin-left: 220px;
}
@media (max-height: 540px) {
  #map {
    margin-left: 0px !important;
  }
}

.mobile #map.enabled {

    margin-left: 200px;
    transform: scale(.7);
    bottom: -30px;
}
#point {
    position: absolute;
}

.visited {

    color: green;
    position: absolute;
    top: 30px;
    left: 30px;
}

.locus0{
  bottom: 0px;
  left: 50px;
}
.locus1{
  bottom: 0px;
  left: 10px;
  transform: rotate(90deg)
}
.locus2{
  bottom: 50px;
  left: 55px;
}
.locus3{
  bottom: 95px;
    left: 55px;
}
.locus4{
  bottom: 86px;
  left: 130px;
  transform: rotate(-90deg)
}
.locus5{
  bottom: 86px;
  left: 170px;
}
.locus6{
  bottom: 155px;
  left: 175px;
  transform: rotate(-90deg);
}
.locus7{
  bottom: 155px;
  left: 200px;
  transform: rotate(-90deg);
}

.desktop #hotspotCounter {
  position: absolute;
  min-width:200px;
  max-width: 600px;
  bottom: -200px;
  left: 50%;
  margin-left: -100px;
  margin-bottom: 0px;
  text-align: center;
  background-color: #333;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  padding: 20px;
  -webkit-transition: margin-bottom 0.5s ease-in-out;
  transition: margin-bottom 0.5s ease-in-out;

}

.mobile #hotspotCounter {

  position: absolute;
  max-width: 40%;
  bottom: 0;
  right: 0;
  max-height: 20%;
  margin-bottom: -20%;
  padding: 10px;
  -webkit-transition: margin-bottom 0.5s ease-in-out;
  transition: margin-bottom 0.1s  linear;
  background-color: transparent;

}
.mobile #hotspotCounter.enabled {
  margin-bottom: 0;
  transition: margin-bottom 0.3s 0.4s ease-in-out;
}

.desktop #hotspotCounter.enabled {
  margin-bottom: 200px;
}

.desktop #objectiveToggle {

  position: absolute;
  text-align: center;
  top: 0;
  right: 0px;
  padding: 13px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  width: 40px;
  height: 40px;


}

.mobile #objectiveToggle {

  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0px;
  padding: 20px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  width: 50px;
  height: 50px;


}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {

  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #eee;
}

.start-btn button {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding:  0 2em ;
  font-size: 1em;

}

.vr-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px;
  color: white;
}

#enter-vr {
  cursor: pointer;
  font-size: .9em;
  padding: .5em 2em;
  background-color: #25aae1;
  border: 2px solid #25aae1;
  color: #fff;
  border-radius: 5px;
 }

#enter-vr:hover {
  background-color: #51BBE7;
  border: 2px solid #51BBE7;
}

#no-vr {
  cursor: default;
}

.info-hotspot-image{
  margin-top: 15px;
  max-width: 100%;
}

.slider {
  overflow: hidden;
}

.slider figure {
  position:relative;
  width: 100%;
  margin: 0;
  left: 0;
}

.slider figure img {

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.hide {
  visibility: hidden;
}
